#Metadata:

---



*   @Autor: Christian Montes
*   @Date: 2022/02/12
*   @Description: This python notebook shows basic exercises

#Basic Exercises

#Exercise 1: Products + IVA

In [39]:
product1= int(input("Input first product: "))
product2= int(input("Input second product: "))
product3= int(input("Input third product: "))
sum = product1 + product2 + product3
iva = sum * 0.19
total = sum + iva
print("Gross value: ", sum, "\n TOTAL: ", total)

Input first product: 8
Input second product: 3
Input third product: 5
Gross value:  16
 TOTAL:  19.04

###Python Version

Calculate Highest

In [31]:
n1,n2, n3 = input("Input First, Second and Third number with , separate: ").split(",")
if (n1>n2 and n1>n3):
  print("The Highest number is :"+str(n1))
elif (n1>n2 and n2 >n3):
  print("The Highest number is :"+str(n2))
else:
  print("The Highest number is :"+str(n3))

Input First, Second and Third number with , separate: 5,8,3
The Highest number is :3

In [36]:
numbers = num1,num2,num3 = input("Input First, Second and Third product with , separate: ").split(",")

print("The Highest number is :"+str(max(int(num1),int(num2),int(num3))))
print("The Lowest number is :"+str(min(int(num1),int(num2),int(num3))))

Input First, Second and Third product with , separate: 5,2,4
The Highest number is :5
The Lowest number is :2

In [10]:
lista=list(range(1,13))
print(lista+lista[::-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]